.center {
  text-align: center;
}

.header {
  padding: 40px 0;
}

.heading {
  font-family: 'Nunito Regular';
  color: #2A3287;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  grid-column: span 3;
  margin: 20px 0;
}
