.create_header {
  padding: 40px 0;
  text-align: center;

  h2 {
    color: #2A3287;
    font-weight: 700;
    font-size: 24px;
  }

  &__stepper {
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }

  &__subtitle {
    font-weight: 400;
    color: #2A3287;
    font-size: 18px;
    margin: 5px 0 30px;
  }
}

.next_cta,
.cta {
  width: 210px;
  background-color: #23ACDB;
  font-weight: 700;
}

.congrats_ctas {
  display: flex;
  flex-direction: column;
}

.cta {
  width: 100%;
  margin-bottom: 15px;
  background-color: #2A3287;
  color: #ffffff;
  display: inline-block;
  height: 50px;
}

.waiting_step {
  display: flex;
  justify-content: center;

  .ant-modal-content {
    width: 550px;
    padding: 30px;
    border-radius: 0;
    background-color: #414BBA;
    text-align: center;

    .ant-progress-text,
    .waiting-subtitle {
      color: #ffffff;
    }

    .waiting-title {
      margin: 30px 0;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  &--1_cols {
    grid-column-end: span 1;
  }

  &--2_cols {
    grid-column-end: span 2;
  }

  &--3_cols {
    grid-column-end: span 3;
  }

  &--4_cols {
    grid-column-end: span 4;
  }

  &--5_cols {
    grid-column-end: span 5;
  }

  &--6_cols {
    grid-column-end: span 6;
  }

  &--12_cols {
    grid-column-end: span 12;
  }

  &--6_cols {
    grid-column-end: span 6;
  }

  &--4_offset {
    grid-column-start: 4;
  }

  &--3_offset {
    grid-column-start: 3;
  }

  &--final_row {
    text-align: center;
    padding-bottom: 60px;
  }
}
